.SideNav{
  list-style-type: none;
  font-size:24px;
  text-align:center;
  margin:20px 0;
}
ul{
margin:0; 
padding:0;
margin-bottom:10px;
}
.placeholder{
height:200px;
width:200px;
border:solid white 1px;
border-radius:100%;
background-image:url('./../../images/me.jpg');
background-size:cover;
background-position: center center;
}
.footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.SideNav:hover{
  transform:scale(1.5);
  background-color:skyblue;
}
h1{
  margin:0;
  text-align:center;
}
main{
  margin-left:33%;
  height:100vh;
  /* background:linear-gradient(to right, white, whitesmoke); */
  background-size:cover;
}
.links{
  text-decoration: none;
  color:white;
  font-family: 'Roboto Slab', serif;

}
.nameTitle{
  font-size:22px;
  font-family: 'Roboto Slab', serif;
  margin-top:10px;
}
.logosAndPhoto{
  display:flex;
  flex-direction: column;
  align-items:center;
  position:relative;
  bottom:3%;
}
.componentNav{
  position:relative;
  top:2%;
}
.logos{
  display: flex;
  flex-direction:row;
  justify-content: center;
  position:relative;
  top:35px;
}
.logo{
  margin:0 8px;
  transform: scale(1.5);
}
.logo:hover{
  opacity:0.5;
}
.logoLinks{
  color:white;
}

@media (max-width:700px){
  .SideNav{
    font-size:24px;
  }
  .SideNav:hover{
    transform:scale(1.1);
  }
}
@media (max-width:650px){
  .placeholder{
    width:125px;
    height:125px;
  }
  .nameTitle{
    font-size:14px;
  }
}
@media (max-width:400px){
  .placeholder{
    width:100px;
    height:100px;
  }
  .nameTitle{
    font-size:10px;
  }
}